body {
  font-family: sans-serif;
}
table {
  font-family: Helvetica;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid;
}
td {
  font-family: Helvetica;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
}
.progressBar {
  height: 24px;
  width: 1%;
}
